@charset "utf-8";

@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserrat-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserrat-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: Montserrat;
  src: url("../assets/fonts/Montserrat-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
}
*,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  font-family: Montserrat;
  -webkit-text-size-adjust: 100%;
  word-break: break-all;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
main,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  line-height: normal;
  letter-spacing: 0;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
main,
nav,
section {
  display: block;
}

ul,
ol {
  list-style: none;
}

br {
  letter-spacing: normal;
}

a,
select,
button,
input[type="submit"],
input[type="image"] {
  cursor: pointer;
}

img,
iframe {
  vertical-align: bottom;
}

th {
  text-align: left;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body > img[height="1"] {
  position: absolute;
}

img {
  height: auto;
}
